.container h2 {
    margin-top: 20px;
    margin-bottom: 60px;
}

.chooseUs {
    max-width: 100%;
    border-radius: 10px;
    padding: 50px 130px 88px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;

    margin-bottom: 90px;
}

.chooseUs__item {
    max-width: 361px;
    display: flex;
    column-gap: 30px;
}

.chooseUs__item-img {
    width: 61px;
    height: 61px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--yellow);
}

.chooseUs__item-text {
    width: 270px;
}

.chooseUs__item-text h3 {
    color: var(--yellowText);
    margin-bottom: 15px;
}