.howWeWorkCard {
    max-width: 274px;
}

.howWeWorkCard__img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.howWeWorkCard h3 {
    margin-top: 20px;
    margin-bottom: 7px;
    text-align: center;
}

.howWeWorkCard h5 {
    text-align: center;
}

@media (max-width: 768px) {
    .howWeWorkCard {
        max-width: 100%;
        /* Карточка занимает всю ширину на мобильных */
    }

    .howWeWorkCard__img {
        height: 120px;
        width: 120px;
        /* Уменьшение размера картинки */
    }
}