:root {
    --text: #171717;
    --yellow: linear-gradient(135deg, #EAB308 49.75%, #EDD502 136.56%);
    --yellowText: #EAB308;
}

body {
    font-family: "Montserrat";
    background-color: var(--bgc);
    color: var(--text);
}

.container {
    max-width: 1524px;
    padding: 0 15px;
    margin: 0 auto;
}

.secvice-icon {
    fill: #818181;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 5px;
    }
}