.name-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.link {
    color: var(--yellowText);
    font-weight: 400;
    text-decoration: underline;
}

.login-page__text-wrapper {
    display: flex;
    column-gap: 5px;
}