.reviewsCard {
    position: relative;
    background-color: #fff;
    border-radius: 15px;

    max-width: 387px;
    min-width: 387px;
    max-height: 497px;
    min-height: 497px;

    margin: 0 69px;

    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 24px 34px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.ueser-auto {
    display: flex;
    column-gap: 8px;

    border-radius: 50px;

    padding: 4px 10px;

    background-color: #F9F9F9;
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.2);
}

.stars {
    display: flex;
    column-gap: 2px;
}

.user {
    margin-top: 20px;
}

.user-icon {
    display: flex;
    justify-content: center;
}

.user-icon img {
    border-radius: 50%;
}

.username {
    margin-top: 10px;
    color: #818181;

    text-align: center;
}

.service {
    margin-top: 5px;
    color: #818181;

    text-align: center;
}

.grade {
    margin-top: 20px;

    text-align: center;
    font-weight: 700;
}

.review {
    margin-top: 10px;
}

.bottom-card-wrapper {
    position: absolute;
    bottom: 28px;
    left: 0;
    width: 100%;
}

.bottom-card {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.bottom-card-text {
    white-space: nowrap;
}

.yellow-line {
    height: 2px;
    width: 100%;
    background: var(--yellow);
}

.right {
    max-width: 20px;
}